/* smooth scrolling for the whole document.. */
html {
    scroll-behavior: smooth; 
}

/* Custom scrollbar  */
body::-webkit-scrollbar-track {
    background-color:#6954DC; 
    /* border-radius: 1rem; */
}

/* Custom thumb */
body::-webkit-scrollbar-thumb {
    background-color: #918c95;
    border-radius: 1rem;
}

/* Custom scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}